.resume-view {
    h3 {
        i {
            margin-right: 4px;
            padding: 18px 16px;
            border-radius: 30px;
            background: $color-secondary;
            width: 53px;
            text-align: center;
        }
    }
}

@media screen and (min-width: 990px) {
    .resume-view {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: 20px auto;
        column-gap: 18px;
        row-gap: 18px;

        header {
            grid-column: 1 / span 3;
        }
    }
}
