.resume-view {
    h3 {
        i {
            margin-right: 4px;
            padding: 18px 16px;
            border-radius: 30px;
            background: $color-secondary;
            width: 53px;
            text-align: center;
        }
    }

    // article {
    //     margin-bottom: 40px;
    // }

    .skill-list, .hobbies-list {
        @extend %unformatted-list;
    }

    .skill-list{
        li {
            padding: 10px 0;
        }
        .label {
            margin-bottom: 6px;
        }
    }

    .progress {
        background: $color-primary-variant;
        height: 6px;
    }

    .percentage {
        background: $color-secondary;
        height: 100%;
    }

    .hobbies-list {
        li {
            display: inline-block;
            padding: 16px;
        }
        
        i {
            vertical-align: middle;
            color: $color-secondary;
            font-size: 20px;
            margin-right: 6px;
        }
    }


}

@media screen and (min-width: 990px) {
    .resume-view {
        display: grid;
        grid-template-columns: repeat(6, 15%);
        grid-template-rows: 20px auto;
        column-gap: 18px;
        row-gap: 18px;

        header {
            grid-column: 1 / span 6;
        }
        
        article {
            // margin-bottom: 0;
            grid-column: span 2;
        }

        .about-me {
            grid-column: span 6;
        }

        .languages, .hobbies, .work-experience, .education {
            grid-column: span 3;
        }
    }
}
